

.container-fluid{
    position: absolute;
    left:700px;
    top:60px;
    z-index: 2;
    width:500px;
    
}
.body{
   position: absolute;
   
    
}
.navbar-brand{
    position: absolute;
    left:-600px;
    top:-10px;
    font-family: Abril Fatface, serif;
    font-weight: 400;
    font-style: normal;
  
}




#nav-link {
      color:rgb(35, 4, 4);

}
#nav-link:hover {
  color:rgb(198, 189, 18)
  
}

 
 
 
#logoBox {
      width: 50px;
      height: 50px;
      border: 2px  #999;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-family: Arial;
      color: #777;
      position:absolute;top:56px;
      left:40px;
  border-radius: 50%;
    }

    #logoBox img {
      max-width: 100%;
      max-height: 100%;
        border-radius: 50%;
    }

    #logoInput {
      display: none;
    }
   

     #uploadArea {
    position:absolute;
    left:-9px;
    top:0px;
    width: 1250px;
    height: 560px;
    border: 2px solid #888;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #f9f9f9;
    margin: 20px;
  }

  #uploadArea img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #fileInput {
    display: none;
  }