{% extends 'new.html' %}
{% load static %}
{% block title %}home{% endblock%}
{% block content %}

 


<!-- Blank space -->
<div id="uploadArea">Click here to add image</div>

<!-- Hidden file input -->
<input type="file" id="fileInput" accept="image/*">
 
  <!-- Clickable blank space -->
  <div id="logoBox" >
    <span id="text">Click to upload logo</span>
   </div>

 <!-- Hidden file input -->
  <input type="file" id="logoInput" accept="image/*">

  <script>
    
  </script>





{% endblock %}